<!DOCTYPE html>
<html lang="zxx" class="js">

{% include "modules/header.html" %}

<body class="nk-body bg-lighter npc-default has-sidebar ">
  <div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
      <!-- sidebar @s -->
      {% include "modules/sideBar.html" %}
      <!-- sidebar @e -->
      <!-- wrap @s -->

      <div class="nk-wrap ">
  

        <div id="map"></div>

        <!-- wrap @e -->
      </div>

      <!-- main @e -->
    </div>
    <!-- app-root @e -->

    <script src="static/assets/js/bundle.js?ver=3.2.0"></script>
    <script src="static/assets/js/scripts.js?ver=3.2.0"></script>
    <script src="static/assets/js/example-sweetalert.js?ver=3.2.0"></script>
    <script src="static/assets/js/floor.js?ver=3.2.0"></script>
    

   <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
      id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Search Bus</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body container-fluid">
        <div class="card text-white bg-primary row">
          <div class="card-header">Select Your Route</div>
          <div class="card-inner">
            <!-- <h5 class="card-title" id="DAC-head">XXXX-YYYY-ZZ</h5> -->
            <p class="card-text" id="desc-addr"></p>
            <div class="container-fluid row">
              <div class="form-control-wrap ">
                <div class="form-control-select">
                    <select class="form-control" id="from">
                        <option value="">From</option>
                        <option value="Government College of Technology, Bus Station, Coimbatore">GCT</option>
                        <option value="Venkitapuram Bus Station,Janaki Nagar, Kuppakonam Pudur, Coimbatore, Tamil Nadu 641038">Venkitapuram</option>
                        <option value="Saibaba Colony Bus Stop, 2XG2+QF Coimbatore, Tamil Nadu">Saibaba Colony</option>
                        <option value="Sivananda Colony Bus Stop, Coimbatore">Sivananda Colony</option>
                        <option value="Power House Bus Stop, Coimbatore">Power House</option>
                        <option value="Karpagam Bus Stop, Coimbatore">Karpagam</option>
                        <!-- <option value="Coimbatore Railway Station Bus Stop, Coimbatore">Junction </option> -->


                    </select>
                </div>
            </div>
            </div>
            <br>
            <div class="container-fluid row">
              <div class="form-control-wrap ">
                <div class="form-control-select">
                    <select class="form-control" id="to">
                        <option value="">To</option>
                        <option value="Government College of Technology, Bus Station, Coimbatore">GCT</option>
                        <option value="Venkitapuram Bus Station,Janaki Nagar, Kuppakonam Pudur, Coimbatore, Tamil Nadu 641038">Venkitapuram</option>
                        <option value="Saibaba Colony Bus Stop, 2XG2+QF Coimbatore, Tamil Nadu">Saibaba Colony</option>
                        <option value="Sivananda Colony Bus Stop, Coimbatore">Sivananda Colony</option>
                        <option value="Power House Bus Stop, Coimbatore">Power House</option>
                        <option value="Karpagam Bus Stop, Coimbatore">Karpagam</option>
                        <!-- <option value="Coimbatore Railway Station Bus Stop, Coimbatore">Junction </option> -->

                    </select>
                </div>
            </div>
          </div>
          </div>
        </div>

        
        <div id="edit" class="row p-2 justify-content-around text-center">
        <button href="#" class="btn btn-success mx-1 col text-center" id="searchBtn">Search</button>
      
        </div>
        <div class="card text-white bg-success row" id="upBus" style="display:none;">
          <div class="card-header">Upcomming Bus</div>
          <div class="card-inner">
            <div class="example-alert p-1">
              <div class="alert alert-success  alert-icon">
                  Arriving in <strong id="ArrTime"></strong> Min
              </div>
          </div>
          
          <div class="example-alert p-1">
            <div class="alert alert-success alert-icon">
               Destination At <strong id="DestTime"></strong>
            </div>
        </div>

          </div>
        </div>
      </div>
    </div>
  
    
</body>

</html>